<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: headTag" />
<body>

	<div th:replace="navigation :: topnavigation"></div>
    
    <div class="ebss-teaser"></div><br/>
    
	<div class="container-fluid">
		<div class="col-md-3 col-sm-6 col-xs-12" th:each="movie : ${movies}">
			<div class="product">
				<div class="image">
					<img th:src="@{${movie.image}}" alt="product" class="img-responsive"/>
				</div>
				<div class="caption">
					<h4><a href="#" th:href="@{${movie.getDetailLink()}}" th:text="${movie.title}">Movie Title</a></h4>
					<div class="description">
						<p th:text="${movie.shortDescription}">Description</p>
					</div>
					<div class="cart-button button-group">
						<span class="price" th:text="${#strings.append(movie.price,'€')} ">price</span>
						<a href="#" th:href="@{${movie.getOrderLink()}}" class="btn btn-cart">
							Buy <i class="fa fa-shopping-cart"></i> 
						</a>
					</div>
				</div>
			</div>
		</div>
    </div> <!-- /container -->

	<div th:replace="navigation :: footernavigation"></div>
    
</body>
</html>