<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: headTag" />
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.codecentric.de">
            <img class="ebss-brand" th:src="@{/images/ebss-logo-white.png}"/>
          </a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar" class="collapse navbar-collapse">
          <form class="navbar-form navbar-left" role="search">
			  <div class="form-group">
	            <div class="input-group">
	              <input type="text" class="form-control" placeholder="Search"/>
	              <span class="input-group-addon">
	                <i class="fa fa-search fa-fw"></i>
	              </span>
				</div>
			  </div>
	      </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#movies"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart </a></li>
            <li><a href="#contact"><span class="glyphicon glyphicon-info-sign"></span> About </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="ebss-teaser"></div><br/>
    
	<div class="container-fluid">
		<h2>Movie Details</h2>
		<div class="product">
			<div class="image">
				<img th:src="@{${movie.image}}" alt="product" class="img-responsive"/>
			</div>
			<div class="caption">
				<h4 th:text="${movie.title}">Movie Title</h4>
				<div class="description">
					<p th:text="${movie.shortDescription}">Description</p>
				</div>
				<div class="cart-button button-group">
					<span class="price">10 Euro</span>
				</div>
			</div>
		</div>
    </div> <!-- /container -->

	<div class="container">
	    <footer>
	      <p>&copy; codecentric 2015</p>
	    </footer>
    </div> <!-- /container -->
    
</body>
</html>