<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: headTag" />
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.codecentric.de">
            <img class="ebss-brand" th:src="@{/images/ebss-logo-white.png}"/>
          </a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar" class="collapse navbar-collapse">
          <form class="navbar-form navbar-left" role="search">
			  <div class="form-group">
	            <div class="input-group">
	              <input type="text" class="form-control" placeholder="Search"/>
	              <span class="input-group-addon">
	                <i class="fa fa-search fa-fw"></i>
	              </span>
				</div>
			  </div>
	      </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#movies"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart </a></li>
            <li><a href="#contact"><span class="glyphicon glyphicon-info-sign"></span> About </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="ebss-teaser"></div><br/>
    

	<div class="container">
	    
	    <ol class="breadcrumb">
		  <li><a th:href="@{/}">Home</a></li>
		</ol>
		
		<h3>Movie Details</h3>
		<div class="product">
			<div class="row">
			  <div class="col-md-4">
			  	<div class="image">
					<img th:src="@{${movie.image}}" alt="product" class="img-responsive"/>
				</div>
			  </div>
			  <div class="col-md-8">
				<form class="form-horizontal">
					<div class="form-group">
					    <label class="col-sm-2 control-label">Title</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" id="title" th:value="${movie.title}" placeholder="Title" />
					    </div>
					</div>
					<div class="form-group">
					    <label class="col-sm-2 control-label">Description</label>
					    <div class="col-sm-6">
					      <textarea class="form-control" rows="5" id="title" th:field="${movie.shortDescription}" placeholder="Full movie description"></textarea>
					    </div>
					</div>
					<div class="form-group">
					    <label class="col-sm-2 control-label">Price</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" id="title" placeholder="Price" value="10€" />
					    </div>
					</div>
				</form>
			  </div>
			</div>
		</div>
    </div> <!-- /container -->

	<div class="container">
	    <footer>
	      <p>&copy; codecentric 2015</p>
	    </footer>
    </div> <!-- /container -->
    
</body>
</html>