<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: headTag" />
<body>

	<div th:replace="navigation :: topnavigation"></div>
    
    <div class="ebss-teaser"></div><br/>
    
	<div class="container">
	    
	    <ol class="breadcrumb">
		  <li><a th:href="@{/}">Home</a></li>
		</ol>
		
		<div class="alert alert-success">
			Thank you for ordering <b><span th:text="${movie.title}">Movie</span></b>
		</div>
    </div> <!-- /container -->

	<div th:replace="navigation :: footernavigation"></div>
    
</body>
</html>